.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  padding: 20px;
  color: rgb(210, 194, 194);
}

main {
  padding: 20px;
}




input, select {
  margin: 11px;
  padding: 12px;
}
